@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */

  --color-primary: #1d4ed8;
  --color-primary-hover: #1e40af;

  --color-secondary: #0f172a;

  --color-accent: #f59e0b;

  --color-success: #22c55e;
  --color-warning: #f97316;
  --color-error: #ef4444;

  /* Background */

  --color-background: #ffffff;
  --color-background-alt: #f8fafc;

  --color-card: #ffffff;

  /* Text */

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  /* Border */

  --color-border: #e2e8f0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-cairo);
  background: var(--color-background);
  color: var(--color-text-primary);
}

* {
  box-sizing: border-box;
}

button {
  transition: all .3s ease;
}

img {
  user-select: none;
}
